<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Logo</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="/search"
          >Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/news">news</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/courses">courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link bg-secondary me-1" href="/me/stored/courses">
            my courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link bg-secondary" href="/me/stored/news">my news</a>
        </li>

      </ul>

    </div>
  </div>
</nav>