<div class="not-found-page">
  <div class="img d-flex justify-content-center w-100">
    <img src="/imgs/_404img.png" alt="404" />
  </div>
  <div class="text">
    <h1>404 Error</h1>
    <h2>Couldn't launch :(</h2>
    <h3>Page Not Found - lets take you
      <a href="/">BACK</a></h3>
  </div>
</div>